/* css */

body {
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* font-family: "Open Sans Condensed", sans-serif; */
  /* font-family: 'Nanum Gothic', sans-serif; */
}

h1 {
  font-family: "Nanum Gothic", sans-serif;
}
h5 {
  font-family: "Open Sans Condensed", sans-serif;
}
.logo img {
  height: 40%;
}

.midsect {
}

.headings div {
  background-color: #ffffff;
  /* border-style: solid;
  border-color: #d9d9d9; */
}
