<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Open+Sans+Condensed:300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/para.css" />
    <title>landing page</title>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div v-if="view == 'home'">
          <div class="pimg1">
            <div class="ptext">
              <span class="border">
                endomodern
              </span>
            </div>
          </div>

          <section class="section section-light">
            <h2>
              a-la-cart Interior Design Service for everyone
            </h2>
          </section>

          <div class="pimg2">
            <div class="ptext"></div>
          </div>

          <section class="hometext section-light">
            <p>
              <b>Interior Design Made Simple:</b> interior design doesn't need
              to be complicated or even expensive. It can be as simple as...
            </p>
            <div>
              Pick your design service<br />Add to cart<br />
              Sit back and relax...
            </div>
          </section>

          <div class="pimg3">
            <div class="ptext">
              <span class="border">
                <a
                  class=" "
                  @click="view ='getstarted'"
                  tabindex="-1"
                  aria-disabled="true"
                  >Let's get started!</a
                >
              </span>
            </div>
          </div>

          <div class="pimg4">
            <div class="ptext">
              <span class=""> </span>
            </div>
          </div>
        </div>
        <!-- end of landing/home page -->
        <div v-if="view == 'getstarted'">
          <div class="row">
            <div class="heading">
              <h1>endomodern</h1>
              <h4>Interior Design for everyone</h4>
              <a
                class=" "
                @click="view ='home'"
                tabindex="-1"
                aria-disabled="true"
                >back to HOME</a
              >
            </div>
          </div>
          <!-- end of row heading -->
          <div class="row">
            <div class="service">
              <h4>Pick a Service</h4>
            </div>
          </div>
          <!-- end of row PickService -->
          <div class="row">
            <!-- <div class="col-12"> -->
            <div class="col-4">
              <img src="img/womanlaptop.jpg" class="svcimg" />
              <h5>Consultation</h5>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos
                atque voluptate a beatae tenetur vero, laborum voluptatibus
                pariatur cum velit, doloremque obcaecati similique quisquam quod
                labore doloribus nesciunt, cumque maiores!
              </p>
            </div>
            <div class="col-4">
              <img src="img/Nyota.jpg" class="svcimg" />
              <h5>Rent-a-Designer</h5>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos
                atque voluptate a beatae tenetur vero, laborum voluptatibus
                pariatur cum velit, doloremque obcaecati similique quisquam quod
                labore doloribus nesciunt, cumque maiores!
              </p>
            </div>
            <div class="col-4">
              <img src="img/paint.jpg" class="svcimg" />
              <h5>Paint Color Consultation</h5>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos
                atque voluptate a beatae tenetur vero, laborum voluptatibus
                pariatur cum velit, doloremque obcaecati similique quisquam quod
                labore doloribus nesciunt, cumque maiores!
              </p>
            </div>
            <!-- </div> -->
            <!-- end of col-12  -->
          </div>
          <!-- end of row services -->
          <div class="row">
            <div class="col-6">
              <img src="img/goldcouch.jpg" class="svcimg" />
              <h5>MakeOver</h5>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos
                atque voluptate a beatae tenetur vero, laborum voluptatibus
                pariatur cum velit, doloremque obcaecati similique quisquam quod
                labore doloribus nesciunt, cumque maiores!
              </p>
            </div>
            <div class="col-6">
              <img src="img/emptyroom.jpg" class="svcimg" />
              <h5>MakeUnder</h5>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos
                atque voluptate a beatae tenetur vero, laborum voluptatibus
                pariatur cum velit, doloremque obcaecati similique quisquam quod
                labore doloribus nesciunt, cumque maiores!
              </p>
            </div>
          </div>
        </div>
        <!-- end of div getstarted page view -->
      </div>
      <!-- end of div container-fluid -->
    </div>
    <!-- end of div id app -->

    <!-- scripts -->
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <!-- BOOTSTRAP -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!-- VUE.js -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <!-- JS -->
    <script src="js/main.js"></script>
  </body>
</html>
